<div id="flash_messages">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= bootstrap_class_for(type) %> alert-dismissible fade show alert-custom" role="alert">
      <strong><%= message %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
