<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="col-md-4 d-flex align-items-center logo-text-container">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24">
    </a>
    <span
      class="mb-3 mb-md-0 text-body-secondary text-white">
      <a href="#" target="_blank"><strong>Authentication project</strong></a>. The source code is licensed 
      <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT.</a>
    </span>
  </div>
  <div class="footer-icons-wrapper col-12 col-md-5">
    <ul class="nav justify-content-end list-unstyled d-flex icon-column footer-icons-container">
      <a class="text-body-secondary text-white footer-icons" href="https://github.com/sandri31" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
      <a class="text-body-secondary text-white footer-icons" href="https://www.linkedin.com/in/florent-sandri/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
    </ul>
  </div>
</footer>
