.alert-custom {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 3rem auto;
  text-align: center;
  z-index: 1600;
}

@media (max-width: 999px) {
  .alert-custom {
    position: fixed;
    right: 0;
    margin-top: 70px;
    z-index: 100;
    width: 90%;
  }
}
