.static_pages-contact {
  background-image: image-set(image-url('background02.webp') 1x, image-url('background02.jpg') 1x);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white-text {
  color: white !important;
}

.static_pages-contact footer {
  a {
    color: black;
  }

  a:hover {
    color: rgba(15, 15, 15, 0.562);
  }
}